.tab-wrapper {
    width: 100%;
}
.tab-content {
    overflow-y: auto;
}
.tab-pane {
    padding: 0.5rem 1rem;
}
.tab-pane .form-select {
    width: 19% !important;
}
.list-wrapper {
    overflow-y: auto;
}
.table-wrapper,
.list-wrapper {
    max-height: 13rem;
}
.btn-cancel {
    width: 5rem;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
