.table-shop {
    height: 60%;
    overflow-y: auto;
    margin-top: 1rem;
}
.table-shop thead th {
    position: sticky;
    z-index: 1;
    top: 0;
    vertical-align: middle;
}
.table-shop td {
    vertical-align: middle;
}
