body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    position: relative;
    overflow: auto;
}
.main-contents {
    height: calc(100vh - 5rem);
    min-height: calc(100vh - 5rem);
    margin-left: 300px;
    padding: 2rem 0;
}
.breadcrumb {
    font-size: 1.3rem;
}
#searchForm {
    margin-bottom: 1rem;
}

.table-wrapper {
    height: 30rem;
    overflow-y: auto;
}
.table-wrapper thead th {
    position: sticky;
    z-index: 1;
    top: 0;
    vertical-align: middle;
}
.table-wrapper tfoot th {
    position: sticky;
    z-index: 1;
    bottom: 0;
    vertical-align: middle;
}
.table-wrapper td {
    vertical-align: middle;
}
.btn-prevent {
    pointer-events: none;
}
.form-check-input.form-checkbox {
    margin-top: 0.15rem;
}
.form-check-input.form-check-radio {
    margin-top: 0.2rem;
}
.radio-group {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}
.footer-buttons .btn {
    width: 8rem;
}
